{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/actions/action.css' %}"/>

<div class="container-add">
    <form method="POST">
        <div class="row">
            <div class="col-1">
                <label for="fname">First name</label>
            </div>
            <div class="col-2">
                {{ form.first_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="lname">Last name</label>
            </div>
            <div class="col-2">
                {{ form.last_name }}
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="age">Age</label>
            </div>
            <div class="col-2">
                {{ form.age }}
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <label for="sex">Sex</label>
            </div>
            <div class="col-2">
                {{ form.sex }}
            </div>
        </div>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
    <a class="btn-cancel" href="/home">Cancel</a>
</div>
{% endblock %}