{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/actions/view.css' %}"/>

<h2>List of authors</h2>
<form method="POST">
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Sex</th>
                {% if request.user.status == 'Admin' %}
                    <th>Update</th>
                    <th>Delete</th>
                    <th>Add new</th>
                {% endif %}
            </tr>
            {% for author in authors %}
                <tr>
                    <td>{{ author.first_name }}</td>
                    <td>{{ author.last_name }}</td>
                    <td>{{ author.age }}</td>
                    <td>{{ author.sex }}</td>
                    {% if request.user.status == 'Admin' %}
                        <td><a href="{% url 'ebook_store_app:update-author' author.id %}">Edit</a></td>
                        <td><a href="{% url 'ebook_store_app:delete-author' author.id %}">Delete</a></td>
                        <td><a href="{% url 'ebook_store_app:add-author' %}">Add new author</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</form>
{% endblock %}