body {
    background-color: #cfd6d4;
}

.c_review li {
    margin-bottom: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e8e8e8
}

.c_review li:last-child {
    margin: 0;
    border: none
}

.product_item:hover .cp_img {
    top: -40px
}

.product_item:hover .cp_img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22)
}

.product_item:hover .cp_img .hover {
    display: block
}

.product_item .cp_img {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out
}

.product_item .cp_img img {
    transition: all 0.2s ease-in-out;
    border-radius: 6px
}

.product_item .cp_img .hover {
    display: none;
    text-align: center;
    margin-top: 10px
}

.product_item .product_details {
    padding-top: 110%;
    text-align: center
}

.product_item .product_details h5 {
    margin-bottom: 5px
}

.product_item .product_details h5 a {
    font-size: 16px;
    color: #444
}

.product_item .product_details h5 a:hover {
    text-decoration: none
}

.product_item .product_details .product_price {
    margin: 0
}

.product_item .product_details .product_price li {
    display: inline-block;
    padding: 0 10px
}

.product_item_list table tr td .btn {
    box-shadow: none !important
}

.product-order-list table tr th:last-child {
    width: 145px
}

.preview .preview-thumbnail.nav-tabs li nav-link img { 
    max-width: 100%;
    display: block
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.cart-table .quantity-grp .form-control { 
    background-color: #fff
}

.cart-table .quantity-grp .form-control+.input-group-addon { 
    background-color: #1ab1e3
}

.ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control { 
    padding: 0
}

.ec-checkout .wizard .content .form-group .btn-group.bootstrap-select.form-control .btn-round.btn-simple {
    padding-top: 12px; 
    padding-bottom: 12px
}

.card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}

.card .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;    
    cursor: pointer;
}
  
.btn.active {
    background-color: #666;
    color: white;
}

.page-btn {
    margin: 0 auto 70px;
    padding-top: 30px;
    text-align: center;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #dd351f;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #dd351f;
    color: #fff;
}

.action-btn {
    color: white;    
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.add-btn {
    background-color: #3698f4;
}

.add-btn:hover {
    background-color: blue;
    color: white;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.dropbtn { 
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
    
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.star-wrapper {
    direction: rtl;
    left: 50%;
}

.star-wrapper button {
    transition: all 0.5s;
}

.star-wrapper button:hover {
    background-color: gold;
    transform: scale(1.3);
}

.s1:hover ~ button  {
    background-color: gold;
}

.s2:hover ~ button {
    background-color: gold;
}

.s3:hover ~ button {
    background-color: gold;
}

.s4:hover ~ button {
    background-color: gold;
}

.s5:hover ~ button {
    background-color: gold;
}

.img-fluid {
    width: 200;
    height: 200;
}

.best-sellers {
    color:  red;
    text-align: center;
    padding: 5%;
}